* {
    user-select: none;
}

.init__job {
    width: 100vw;
    height: 80vh;

    position: absolute;
    left: 50vw;
    top: 48vh;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.init__job__title {
    display: flex;
    justify-content: center;
}
.init__job__title img { height: 230px; transform: translate(10px, 50px); }

.init__job__group { width: 500%; }
.job__group { width: 100vw; height: 30vh; }
.job__group > div {
    width: 14vw;
    height: 28vh;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    
    z-index: 1000;
    pointer-events: none;
}

#prev-btn {
    width: 160px;
    
    position: absolute;
    left: 20vw;
    top: 40vh;

    cursor: pointer;
}

#next-btn {
    width: 160px;
    
    position: absolute;
    right: 20vw; 
    top: 40vh;

    cursor: pointer;
}

/* adventurer */

.hero {
    background-image: url(/images/init/hero.png);
}
.paladine {
    background-image: url(/images/init/paladine.png);
}
.darknight {
    background-image: url(/images/init/darknight.png);
}
.bishop {
    background-image: url(/images/init/bishop.png);
}
.arkmagetc {
    background-image: url(/images/init/arkmagetc.png);
}
.arkmagefp {
    background-image: url(/images/init/arkmagefp.png);
}
.bowmaster {
    background-image: url(/images/init/bowmaster.png);
}
.marks {
    background-image: url(/images/init/marks.png);
}
.pathfinder {
    background-image: url(/images/init/pathfinder.png);
}
.nightlord {
    background-image: url(/images/init/nightlord.png);
}
.shadower {
    background-image: url(/images/init/shadower.png);
}
.dualblade {
    background-image: url(/images/init/dualblade.png);
}
.viper {
    background-image: url(/images/init/viper.png);
}
.captain {
    background-image: url(/images/init/captain.png);
}
.cannonmaster {
    background-image: url(/images/init/cannonmaster.png);
}

/* cygnus */

.soulMaster {
    background-image: url(/images/init/soulMaster.png);
}
.mikhail {
    background-image: url(/images/init/mikhail.png);
}
.flameWizard {
    background-image: url(/images/init/flameWizard.png);
}
.windBreaker {
    background-image: url(/images/init/windBreaker.png);
}
.nightWalker {
    background-image: url(/images/init/nightWalker.png);
}
.striker {
    background-image: url(/images/init/striker.png);
}

/* resistance */

.mecanic {
    background-image: url(/images/init/mecanic.png);
}
.battleMage {
    background-image: url(/images/init/battleMage.png);
}
.blaster {
    background-image: url(/images/init/blaster.png);
}
.wildHunter {
    background-image: url(/images/init/wildHunter.png);
}
.xenon {
    background-image: url(/images/init/xenon.png);
}
.demonslayer {
    background-image: url(/images/init/demonslayer.png);
    transform: translate(0%, 20%) !important;
}
.demonavenger {
    background-image: url(/images/init/demonavenger.png);
    transform: translate(0%, 20%) !important;
}

/* heroes */

.aran {
    background-image: url(/images/init/aran.png);
}
.evan {
    background-image: url(/images/init/evan.png);
}
.luminous {
    background-image: url(/images/init/luminous.png);
}
.mercedes {
    background-image: url(/images/init/mercedes.png);
}
.phantom {
    background-image: url(/images/init/phantom.png);
}
.shade {
    background-image: url(/images/init/shade.png);
}

/* grandis */

.kaiser {
    background-image: url(/images/init/kaiser.png);
}
.cadena {
    background-image: url(/images/init/cadena.png);
}
.angelicbuster {
    background-image: url(/images/init/angelicbuster.png);
}
.adele {
    background-image: url(/images/init/adele.png);
}
.illium {
    background-image: url(/images/init/illium.png);
}
.ark {
    background-image: url(/images/init/ark.png);
}
.hoyoung {
    background-image: url(/images/init/hoyoung.png);
    transform: translateY(8vh) !important;
}

/* zero */

.zero {
    background-image: url(/images/init/zero.png);
}

/* kinesis */

.kinesis {
    background-image: url(/images/init/kinesis.png);
}

.clickArea {
    width: 70%;
    height: 60%;

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    
    pointer-events: all;
}