#__next {
    background-image: url(/images/background/login.png);

    position: relative;
}

header {
    height: 100px;
    padding: 0 60px !important;
}
header > .auth > a {
    width: 100px;
}

.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loginForm img {
    width: 40px;
}
.loginForm .form-group > input {
    width: 25vw;
    background: none;

    color: #eeeeee;

    border: none;
    border-bottom: 1px solid #f7f7f7;
    outline: none;

    padding: 0 0 0.3em .5em;
    margin-left: 1em;
}
.loginForm .form-group > input::placeholder {
    color: #eeeeee;
}
.loginForm .login > input {
    background: linear-gradient( 120deg, #f28e26, #fd644f );

    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    outline: none;
}

@media (max-width: 1400px) { 
    .loginForm .form-group > input  {
        width: 350px;
    }
}
