.back__btn {
    width: 267px;
    height: 122px;

    background-image: url(/images/profile/back.png);
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    left: 2vw; top: 90px;
}

.profile__sidebar {
    width: 370px;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
    left: -30px;
    top: 150px;
    z-index: 9;

    padding-top: 30px;
}
.profile__sidebar__el {
    width: 276px;
    height: 138px;

    background-repeat: no-repeat;
    background-position: left;

    color: #fff;

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
.profile__sidebar__el__active {
    position: relative;
}
.profile__sidebar__el__active::before {
    width: 276px;
    height: 138px;

    background-image: url(/images/profile/sidebar_background.png);
    background-size: cover;

    position: absolute;
    left: 0;
    top: -12px;
    z-index: -1;

    content: "";
}
.profile__sidebar__el a {
    width: 75%;
    height: 100%;
}

.profile__sidebar__record {
    background-image: url(/images/profile/record.png);
}
.profile__sidebar__information {
    background-image: url(/images/profile/information.png);
}

.profile__main {
    width: 40vw;
    height: 70vh;

    position: absolute;
    right: 0; 
    top: 15vh;
}

.profile__img {
    width: 100px;
    height: 100px;

    background-color: rgb(128, 128, 128);

    position: relative;

    border: 4px solid #fff;
    border-radius: 5px;

    overflow: hidden;
}
.profile__img img {
    width: 200px;

    position: absolute;
    transform: translate(-50px, -40px);
}

.profile__text > p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}
.profile__text > p:first-child > span {
    font-size: 1.5em;
}

.profile__text img { width: 22px; height: 22px; }
.profile__text > div > p {
    font-size: 1.2em;
}

.profile__text > p:last-child {
    font-size: 1.5em;
    font-weight: bold;
}
.profile__text > p:last-child > span {
    color: #faa;
}

.profile-button > button { font-weight: bold; }
.profile-button > button:first-child {
    background: none;

    color: #fff;

    border: 2px solid #faa;
    border-radius: 5px;
    padding: 8px 30px;

    outline: none;
}
.profile-button > button:last-child {
    background: #faa;

    border: 2px solid #faa;
    border-radius: 5px;
    padding: 8px 30px;

    outline: none;
}

.profile__analysis {
    width: 100%;
    height: 50vh;

    padding: 0 20%;
}
.profile__analysis > h4 {
    color: #fff;
    font-weight: bold;
}
.profile__analysis > div > div {
    background-image: url(/images/table.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile__analysis__img { 
    width: 13vw;
    height: 30vh;
    box-shadow: 0px 0px 20px 6px rgba(255, 252, 73, 0.3);
}
.profile__analysis__img > img {
    width: 8vw;
}
.profile__analysis__info {
    width: 10vw;
    height: 28vh;
    
    font-size: .8em;
    color: rgb(161, 161, 161);

    padding: 20px;
}
.profile__analysis span { font-size: 1.2em; font-weight: bold; color: rgb(32, 32, 32); }

.profile__recode {
    width: 70vw;
    height: 40vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: visible;
}
.profile__recode > div {
    width: 20vw;
    height: 35vh;

    background-color: rgba(46, 46, 46, 0.5);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    border: 6px solid rgb(159, 173, 192);
    border-radius: 50%;
}
.profile__recode > div:nth-child(1) { transform: translateX(180px); }
.profile__recode > div:nth-child(2) { transform: translateX(60px); }
.profile__recode > div:nth-child(3) { transform: translateX(-60px); }
.profile__recode > div:nth-child(4) { transform: translateX(-180px); }
.profile__recode > div > div > div > p {
    margin: 0 !important;
}

.achievement h3 { font-size: 1.6em; font-weight: bold; }
.union h3 { font-size: 1.6em; font-weight: bold; }

.mureung h3, .seed h3 { font-size: 4em; font-weight: bold; }
.mureung h4, .seed h4 { font-weight: bold; }


