.back__btn {
    width: 267px;
    height: 122px;

    background-image: url(/images/profile/back.png);
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    left: 2vw; top: 90px;
}

.profile__sidebar {
    width: 370px;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
    left: -30px;
    top: 150px;
    z-index: 9;

    padding-top: 30px;
}
.profile__sidebar__el {
    width: 276px;
    height: 138px;

    background-repeat: no-repeat;
    background-position: left;

    color: #fff;

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
.profile__sidebar__el__active::before {
    width: 276px;
    height: 138px;

    background-image: url(/images/profile/sidebar_background.png);
    background-size: cover;

    position: absolute;
    left: 0;
    top: 21px;
    z-index: -1;

    content: "";
}
.profile__sidebar__el a {
    width: 75%;
    height: 100%;
}

.profile__sidebar__record {
    background-image: url(/images/profile/record.png);
}
.profile__sidebar__information {
    background-image: url(/images/profile/information.png);
}

.profile__main {
    width: 40vw;
    height: 70vh;

    position: absolute;
    right: 0; 
    top: 15vh;
}

.profile__img {
    width: 95px;
    height: 95px;

    background-image: url(/images/profile/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.profile__text > p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}
.profile__text > p:first-child > span {
    font-size: 1.5em;
}

.profile__text img { width: 22px; height: 22px; }
.profile__text > div > p {
    font-size: 1.2em;
}

.profile__text > p:last-child {
    font-size: 1.5em;
    font-weight: bold;
}
.profile__text > p:last-child > span {
    color: #faa;
}

.profile-button > button { font-weight: bold; }
.profile-button > button:first-child {
    background: none;

    color: #fff;

    border: 2px solid #faa;
    border-radius: 5px;
    padding: 8px 30px;

    outline: none;
}
.profile-button > button:last-child {
    background: #faa;

    border: 2px solid #faa;
    border-radius: 5px;
    padding: 8px 30px;

    outline: none;
}







