.rankSidebar {
    width: 13vw; 
    height: 45vh;

    position: relative;
    left: 5vw;
    top: 8vh;
}
.rankSidebar > li {
    height: 8vh;

    background-color: #fff;

    font-size: 1.5rem;
    font-weight: bold;
    line-height: 8vh;
    text-align: center;

    margin: 30px 0;

    opacity: .7;
}
.rankSidebar > li.active {
    background-color: #e1c38b;

    opacity: 1 !important;
}

.ranking__main {
    width: 53vw;
    height: 90vh;

    position: absolute;
    left: calc(20vw + 280px);
    top: 8vh;

}
.ranking__main > div {
    width: calc((10vw + 10px) * 5);
    height: 30vh;

    position: relative;

    overflow: hidden;
}

.ranking__insignia {
    width: 300%;
    height: 30vh;

    display: flex;
}
.ranking__insignia > div {
    width: 10vw;
    height: 16vw;

    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 5px;
}
.ranking__insignia > div > img {
    width: 10vw;
    height: 16vw;

    user-select: none;
    pointer-events: none;
}

#prev-btn {
    position: absolute;
    left: -150px;
    top: 100px;
}
#next-btn {
    position: absolute;
    right: -150px;
    top: 100px;
}

.ranking__table {
    height: 660px !important;
}
table {
    width: 100%;  
}
table > * {    
    font-weight: bold;
}
table > thead > tr {
    height: 60px;

    font-weight: bold;
    line-height: 60px;
}
table > thead > tr > th { padding-left: 15px; }
table > tbody {
    width: 100%;
    height: 540px;

    position: absolute;

    overflow: scroll;
}
table > tbody::-webkit-scrollbar {
    display: none;
}
table > tbody td p:first-child {
    margin: 0 !important;
} 
table > tbody > tr { 
    width: 100%;
    height: 90px !important; 
    
}
table > tbody > tr > td:first-child {
    width: 39.5vw;
}
table > tbody > tr > td:nth-child(2) {
    width: 15%;
}

.table-title {
    height: 55px;

    background-color: #e1c38b;

    line-height: 55px;
}
.table-title > td:first-child {
    padding-left: 150px;
}